{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard-create.css' %}">
{% endblock %}

{% block title %}{{ schema.title }}{% endblock %}

{% block content %}
<div id="data-keys" data-keys="{{ data_keys }}"></div>
<div id="data-values" data-values="{{ data_values }}"></div>

<form method="post" id="my-form" style="margin-top: 25px;">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="title">Edit schema '{{ schema.title }}'</div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
    <div class="container" style="padding-left: 16px;">
        <label for="name" class="label">Name</label><br>
        <input type="text" name="name" id="name" class="form-control" style="width:200px"
               value="{{ schema.title }}"><br>
        <label for="name" class="label">Column separator</label><br>
        <select name="separators" id="separators" class="custom-select" style="width:200px">
            <option value="comma" label='Comma (,)'></option>
            <option value="dot-comma">Dot&comma (;)</option>
        </select><br><br>
        <label for="name" class="label">String character</label><br>
        <select name="character" id="character" class="custom-select" style="width:200px">
            <option value="double-quote" label='Double-quote (")'></option>
            <option value="quote">Quote (')</option>
        </select><br><br>
        <div class="title" style="padding:15px;">Fields</div>
        <div id="fields-container" class="form-row">
            <!-- Dynamic fields will be added here -->
        </div>
        <button type="button" class="btn btn-primary" id="add-field">Add Field</button>
    </div>
</form>

<script>
var my_keys = JSON.parse('{{ data_keys|safe }}');
var my_values = JSON.parse('{{ data_values|safe }}');
var tagId = 0;

console.log(my_values[0][1]);

for (var i = 0; i < my_keys.length; i++) {
    fields(i);
}

function fields(i) {
  tagId++;
  var currentId = tagId;

  var container = document.getElementById("fields-container");

  // Create row div for fields
  var container_item_1 = document.createElement("div");
  container_item_1.id = "item-1-" + tagId;
  container_item_1.className = "form-group col-md-4";
  container.appendChild(container_item_1);

  var container_item_2 = document.createElement("div");
  container_item_2.id = "item-2-" + tagId;
  container_item_2.className = "form-group col-md-2";
  container.appendChild(container_item_2);

  var container_item_3_1 = document.createElement("div");
  container_item_3_1.id = "item-3-1-" + tagId;
  container_item_3_1.className = "form-group col-md-1";
  container.appendChild(container_item_3_1);

  var container_item_3_2 = document.createElement("div");
  container_item_3_2.id = "item-3-2-" + tagId;
  container_item_3_2.className = "form-group col-md-2";
  container.appendChild(container_item_3_2);

  var container_item_4 = document.createElement("div");
  container_item_4.id = "item-4-" + tagId;
  container_item_4.className = "form-group col-md-3";
  container.appendChild(container_item_4);

  // Create label for field
  var label1 = document.createElement("label");
  label1.setAttribute("for", "inputName");
  label1.id = "label-1-" + tagId;
  label1.innerHTML = "Column name";
  container_item_1.appendChild(label1);

  // Create input field
  var input = document.createElement("input");
  input.id = "tag-" + tagId;
  input.type = "text";
  input.value = my_keys[i];
  input.className = "form-control";
  input.style.width = "250px";
  input.setAttribute("name", "dynamic-key[]");
  container_item_1.appendChild(input);

  // Create label for selection field
  var label2 = document.createElement("label");
  label2.setAttribute("for", "inputType");
  label2.id = "label-2-" + tagId;
  label2.innerHTML = "Type";
  container_item_2.appendChild(label2);

  var br = document.createElement("br");
  br.id = "br-l-" + tagId;
  container_item_2.appendChild(br);

  // Create selection field
  var select = document.createElement("select");
  select.className = "custom-select mr-sm-2";
  select.id = "select-" + tagId;
  select.style.width = "150px";
  select.setAttribute("name", "dynamic-value[]");
  container_item_2.appendChild(select);

  if (my_values[i] == 'full-name') {
        // Add default option to select field
        var option = document.createElement("option");
        option.value = "full-name";
        option.disabled = false;
        option.selected = true;
        option.label = "Full Name";
        select.appendChild(option);

        // Add other options to select field
        var option1 = document.createElement("option");
        option1.value = "integer";
        option1.innerHTML = "Integer";
        select.appendChild(option1);

        var option2 = document.createElement("option");
        option2.value = "email";
        option2.innerHTML = "Email";
        select.appendChild(option2);

        var option3 = document.createElement("option");
        option3.value = "phone";
        option3.innerHTML = "Phone";
        select.appendChild(option3);

        var option4 = document.createElement("option");
        option4.value = "city";
        option4.innerHTML = "City";
        select.appendChild(option4);
  }

  else if (typeof my_values[i] == 'object') {
        // Add default option to select field
        var option = document.createElement("option");
        option.value = "integer";
        option.disabled = false;
        option.selected = true;
        option.label = "Integer";
        select.appendChild(option);

        // Add other options to select field
        var option1 = document.createElement("option");
        option1.value = "full-name";
        option1.innerHTML = "Full Name";
        select.appendChild(option1);

        var option2 = document.createElement("option");
        option2.value = "email";
        option2.innerHTML = "Email";
        select.appendChild(option2);

        var option3 = document.createElement("option");
        option3.value = "phone";
        option3.innerHTML = "Phone";
        select.appendChild(option3);

        var option4 = document.createElement("option");
        option4.value = "city";
        option4.innerHTML = "City";
        select.appendChild(option4);

        var container_item_3_1 = document.getElementById("item-3-1-" + tagId);
        var label3 = document.createElement("label");
        label3.id = "int-1-" + tagId;
        label3.innerHTML = "From";
        container_item_3_1.appendChild(label3);

        var input = document.createElement("input");
        input.id = "int-field-1-" + tagId;
        input.type = "number";
        input.value = my_values[i][0];
        input.className = "form-control";
        input.style.width = "70px";
        input.setAttribute("name", "integer-value[]");
        container_item_3_1.appendChild(input);

        var container_item_3_2 = document.getElementById("item-3-2-" + tagId);

        var label4 = document.createElement("label");
        label4.id = "int-2-" + tagId;
        label4.innerHTML = "To";
        container_item_3_2.appendChild(label4);

        var input1 = document.createElement("input");
        input1.id = "int-field-2-" + tagId;
        input1.type = "number";
        input.value = my_values[i][1];
        input1.className = "form-control";
        input1.style.width = "70px";
        input1.setAttribute("name", "integer-value[]");
        container_item_3_2.appendChild(input1);
  }

  else if (my_values[i] == 'email') {
        // Add default option to select field
        var option = document.createElement("option");
        option.value = "email";
        option.disabled = false;
        option.selected = true;
        option.label = "Email";
        select.appendChild(option);

        // Add other options to select field
        var option1 = document.createElement("option");
        option1.value = "integer";
        option1.innerHTML = "Integer";
        select.appendChild(option1);

        var option2 = document.createElement("option");
        option2.value = "full-name";
        option2.innerHTML = "Full Name";
        select.appendChild(option2);

        var option3 = document.createElement("option");
        option3.value = "phone";
        option3.innerHTML = "Phone";
        select.appendChild(option3);

        var option4 = document.createElement("option");
        option4.value = "city";
        option4.innerHTML = "City";
        select.appendChild(option4);
  }

  else if (my_values[i] == 'phone') {
        // Add default option to select field
        var option = document.createElement("option");
        option.value = "phone";
        option.disabled = false;
        option.selected = true;
        option.label = "Phone";
        select.appendChild(option);

        // Add other options to select field
        var option1 = document.createElement("option");
        option1.value = "integer";
        option1.innerHTML = "Integer";
        select.appendChild(option1);

        var option2 = document.createElement("option");
        option2.value = "email";
        option2.innerHTML = "Email";
        select.appendChild(option2);

        var option3 = document.createElement("option");
        option3.value = "full-name";
        option3.innerHTML = "Full Name";
        select.appendChild(option3);

        var option4 = document.createElement("option");
        option4.value = "city";
        option4.innerHTML = "City";
        select.appendChild(option4);
    }

  else {
        // Add default option to select field
        var option = document.createElement("option");
        option.value = "city";
        option.disabled = false;
        option.selected = true;
        option.label = "City";
        select.appendChild(option);

        // Add other options to select field
        var option1 = document.createElement("option");
        option1.value = "integer";
        option1.innerHTML = "Integer";
        select.appendChild(option1);

        var option2 = document.createElement("option");
        option2.value = "phone";
        option2.innerHTML = "Phone";
        select.appendChild(option2);

        var option3 = document.createElement("option");
        option3.value = "email";
        option3.innerHTML = "Email";
        select.appendChild(option3);

        var option4 = document.createElement("option");
        option4.value = "full-name";
        option4.innerHTML = "Full Name";
        select.appendChild(option4);
  }

  // Add event listener to select field
  select.addEventListener("change", function() {
    if (this.value === "integer") {
        thisInt(currentId);
    }
    else {
        itsNotInt(currentId);
    }
  });

  // Create delete button
  var br = document.createElement("br");
  br.id = "br-del-" + tagId;
  container_item_4.appendChild(br);


  var deleteBTN = document.createElement("a");
  deleteBTN.style.color = "red";
  deleteBTN.id = "delete-" + tagId;
  deleteBTN.innerHTML = "Delete";
  deleteBTN.addEventListener("click", function() {
    delField(currentId);
  });
  container_item_4.appendChild(deleteBTN);

  var br = document.createElement("br");
  br.id = "br-" + tagId;
  container.appendChild(br);
}

function addField() {
  tagId++;
  var currentId = tagId;

  var container = document.getElementById("fields-container");

  // Create row div for fields
  var container_item_1 = document.createElement("div");
  container_item_1.id = "item-1-" + tagId;
  container_item_1.className = "form-group col-md-4";
  container.appendChild(container_item_1);

  var container_item_2 = document.createElement("div");
  container_item_2.id = "item-2-" + tagId;
  container_item_2.className = "form-group col-md-2";
  container.appendChild(container_item_2);

  var container_item_3_1 = document.createElement("div");
  container_item_3_1.id = "item-3-1-" + tagId;
  container_item_3_1.className = "form-group col-md-1";
  container.appendChild(container_item_3_1);

  var container_item_3_2 = document.createElement("div");
  container_item_3_2.id = "item-3-2-" + tagId;
  container_item_3_2.className = "form-group col-md-2";
  container.appendChild(container_item_3_2);

  var container_item_4 = document.createElement("div");
  container_item_4.id = "item-4-" + tagId;
  container_item_4.className = "form-group col-md-3";
  container.appendChild(container_item_4);

  // Create label for field
  var label1 = document.createElement("label");
  label1.setAttribute("for", "inputName");
  label1.id = "label-1-" + tagId;
  label1.innerHTML = "Column name";
  container_item_1.appendChild(label1);

  // Create input field
  var input = document.createElement("input");
  input.id = "tag-" + tagId;
  input.type = "text";
  input.className = "form-control";
  input.style.width = "250px";
  input.setAttribute("name", "dynamic-key[]");
  container_item_1.appendChild(input);

  // Create label for selection field
  var label2 = document.createElement("label");
  label2.setAttribute("for", "inputType");
  label2.id = "label-2-" + tagId;
  label2.innerHTML = "Type";
  container_item_2.appendChild(label2);

  var br = document.createElement("br");
  br.id = "br-l-" + tagId;
  container_item_2.appendChild(br);

  // Create selection field
  var select = document.createElement("select");
  select.className = "custom-select mr-sm-2";
  select.id = "select-" + tagId;
  select.style.width = "150px";
  select.setAttribute("name", "dynamic-value[]");
  container_item_2.appendChild(select);

  // Add default option to select field
  var option = document.createElement("option");
  option.value = "full-name";
  option.disabled = false;
  option.selected = true;
  option.label = "Full Name";
  select.appendChild(option);

  // Add other options to select field
  var option1 = document.createElement("option");
  option1.value = "integer";
  option1.innerHTML = "Integer";
  select.appendChild(option1);

  var option2 = document.createElement("option");
  option2.value = "email";
  option2.innerHTML = "Email";
  select.appendChild(option2);

  var option3 = document.createElement("option");
  option3.value = "phone";
  option3.innerHTML = "Phone";
  select.appendChild(option3);

  var option4 = document.createElement("option");
  option4.value = "city";
  option4.innerHTML = "City";
  select.appendChild(option4);

  // Add event listener to select field
  select.addEventListener("change", function() {
    if (this.value === "integer") {
        thisInt(currentId);
    }
    else {
        itsNotInt(currentId);
    }
  });

  // Create delete button
  var br = document.createElement("br");
  br.id = "br-del-" + tagId;
  container_item_4.appendChild(br);


  var deleteBTN = document.createElement("a");
  deleteBTN.style.color = "red";
  deleteBTN.id = "delete-" + tagId;
  deleteBTN.innerHTML = "Delete";
  deleteBTN.addEventListener("click", function() {
    delField(currentId);
  });
  container_item_4.appendChild(deleteBTN);

  var br = document.createElement("br");
  br.id = "br-" + tagId;
  container.appendChild(br);
}

function delField(id) {
  var container_item_1 = document.getElementById("item-1-" + id);
  var container_item_2 = document.getElementById("item-2-" + id);
  var container_item_3_1 = document.getElementById("item-3-1-" + id);
  var container_item_3_2 = document.getElementById("item-3-2-" + id);
  var container_item_4 = document.getElementById("item-4-" + id);
  var label1 = document.getElementById("label-1-" + id);
  var input = document.getElementById("tag-" + id);
  var label2 = document.getElementById("label-2-" + id);
  var br1 = document.getElementById("br-l-" + id);
  var br2 = document.getElementById("br-" + id);
  var br3 = document.getElementById("br-del-" + id);
  var select = document.getElementById("select-" + id);
  var option = document.querySelector("#select-" + id + " option[value='string']");
  var option1 = document.querySelector("#select-" + id + " option[value='integer']");
  var option2 = document.querySelector("#select-" + id + " option[value='float']");
  var option3 = document.querySelector("#select-" + id + " option[value='bool']");
  var option4 = document.querySelector("#select-" + id + " option[value='date']");
  var deleteBTN = document.getElementById("delete-" + id);

  container_item_1.parentNode.removeChild(container_item_1);
  container_item_2.parentNode.removeChild(container_item_2);
  container_item_3_1.parentNode.removeChild(container_item_3_1);
  container_item_3_2.parentNode.removeChild(container_item_3_2);
  container_item_4.parentNode.removeChild(container_item_4);
  label1.parentNode.removeChild(label1);
  input.parentNode.removeChild(input);
  label2.parentNode.removeChild(label2);
  br1.parentNode.removeChild(br1);
  br2.parentNode.removeChild(br2);
  br3.parentNode.removeChild(br3);
  select.parentNode.removeChild(select);
  option.parentNode.removeChild(option);
  option1.parentNode.removeChild(option1);
  option2.parentNode.removeChild(option2);
  option3.parentNode.removeChild(option3);
  option4.parentNode.removeChild(option4);
  deleteBTN.parentNode.removeChild(deleteBTN);
}

function thisInt(id) {
    var container_item_3_1 = document.getElementById("item-3-1-" + id);
    var label3 = document.createElement("label");
    label3.id = "int-1-" + id;
    label3.innerHTML = "From";
    container_item_3_1.appendChild(label3);

    var input = document.createElement("input");
    input.id = "int-field-1-" + id;
    input.type = "number";
    input.className = "form-control";
    input.style.width = "70px";
    input.setAttribute("name", "integer-value[]");
    container_item_3_1.appendChild(input);

    var container_item_3_2 = document.getElementById("item-3-2-" + id);

    var label4 = document.createElement("label");
    label4.id = "int-2-" + id;
    label4.innerHTML = "To";
    container_item_3_2.appendChild(label4);

    var input1 = document.createElement("input");
    input1.id = "int-field-2-" + id;
    input1.type = "number";
    input1.className = "form-control";
    input1.style.width = "70px";
    input1.setAttribute("name", "integer-value[]");
    container_item_3_2.appendChild(input1);
}

function itsNotInt(id) {
    var label3 = document.getElementById("int-1-" + id);
    var input = document.getElementById("int-field-1-" + id);
    var label4 = document.getElementById("int-2-" + id);
    var input1 = document.getElementById("int-field-2-" + id);

    label3.parentNode.removeChild(label3);
    input.parentNode.removeChild(input);
    label4.parentNode.removeChild(label4);
    input1.parentNode.removeChild(input1);

}


document.getElementById("add-field").addEventListener("click", addField);

</script>
{% endblock %}
