{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard-create.css' %}">
{% endblock %}

{% block content %}
<form method="post" id="my-form" style="margin-top: 25px;">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="title">New schema</div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
    <div class="container" style="padding-left: 16px;">
        <label for="name" class="label">Name</label><br>
        <input type="text" name="name" id="name" class="form-control" style="width:200px"><br>
        <label for="name" class="label">Column separator</label><br>
        <select name="separators" id="separators" class="custom-select" style="width:200px">
            <option value="comma" label='Comma (,)'></option>
            <option value="semicolon">Semicolon (;)</option>
            <option value="tab">Tab (\t)</option>
            <option value="pipe">Pipe (|)</option>
            <option value="tilde">Tilde (~)</option>
            <option value="space">Space ( )</option>
        </select><br><br>
        <label for="name" class="label">String character</label><br>
        <select name="character" id="character" class="custom-select" style="width:200px">
            <option value = "double-quote" label='Double-quote (")'></option>
            <option value = "quote">Quote (')</option>
        </select><br><br>
        <div class="title" style="padding:15px;">Fields</div>
        <div id="fields-container" class="form-row">
            <!-- Dynamic fields will be added here -->
        </div>
        <button type="button" class="btn btn-primary" id="add-field">Add Field</button>
    </div>
</form>

<script src="{% static 'js/form-create.js' %}"></script>
{% endblock %}