{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}


{% block content %}
<div class="container" style="margin-top: 25px; margin-left:5%;">
    <div class="row">
        <div class="col-md-7">
            <div class="title">Data schemas</div>
        </div>
        <div class="col-md-2">
            <a type="button" class="btn btn-success" href="{% url 'create' user_name %}">New schema</a>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 25px; margin-left:5%;">
    <div class="row">
        <div class="col-md-9">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Modified</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for el in data %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="" style="color:light-blue;">{{ el.title }}</a></td>
                    <td>{{ el.data_update|date:'Y-m-d' }}</td>
                    <td style="width:25%;"><a href="" style="color:light-blue;">Edit scheme</a><a href="{% url 'delete' user_name el.id %}" style="color:red; padding-left:15px;">Delete</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}