{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard-create.css' %}">
{% endblock %}

{% block content %}
<form method="post" id="my-form" style="margin-top: 25px;">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="title">New schema</div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
    <div class="container" style="padding-left: 16px;">
        <label for="name" class="label">Name</label><br>
        <input type="text" name="name" id="name">
        <div class="title" style="padding:15px;">Fields</div>
        <div id="fields-container" class="form-row">
            <!-- Dynamic fields will be added here -->
        </div>
        <button type="button" class="btn btn-primary" id="add-field">Add Field</button>
    </div>
</form>

<script src="{% static 'js/form-create.js' %}"></script>
{% endblock %}